server:
  port: 8080

spring:
  application:
    name: learning-platform

  datasource:
    url: jdbc:postgresql://localhost:5432/learning_db
    username: learning
    password: learning

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect